@page "/stockOverview/earningsurprice/{StockTicker}"

<h3>Earning Surprises</h3>

@if (EarningSurpriceList == null)
{
    <p>Loading</p>
}
else
{
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Estimate</th>
                <th>Actual</th>
                <th>Dif</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in EarningSurpriceList)
            {
                <tr>
                    <td>@item.date.ToString("yyyy-MM-dd")</td>
                    <td>@item.estimatedEarning?.ToString("0.##")</td>
                    <td>@item.actualEarningResult?.ToString("0.##")</td>
                    <td>@item.Dif?.ToString("P0")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}