<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <form class="form-inline my-2 my-lg-1">
        <input class="form-control mr-sm-2" type="search" placeholder="Stock Ticker" aria-label="Search" @bind="@Ticker">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" @onclick="@NavigateToStockOverview">Search</button>
    </form>
</nav>