@page "/redditPost/{Id}"

@if (RedditDdDto == null)
{
    <p>Loading</p>
}
else
{
<section class="employee-detail">
    <h1 class="page-title">@RedditDdDto.title</h1>
    <h5>
        <a href="@($"https://www.reddit.com{@RedditDdDto.permalink}")"target="_blank" class="btn btn-primary table-btn">
            To Reddit
        </a>
    </h5>
    <img src=@RedditDdDto.url>
    <p>@RedditDdDto.selftext</p>
</section>
}
